html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
    height: 100vh;
    overflow: hidden;

}

body {
    width: 100%;
    height: 100vh;
    background: url('images/bg.jpg') 50% 50% no-repeat;
    background-size: cover;
    overflow: hidden;
    display: flex;

}

.headers-div {
    width: 15%;
    padding-left: 20px;
    font-family: sans-serif;
    color: #ccc;
}

.rockets-div {
    width: 85%;
    display: flex;
    justify-content: space-evenly;
}

.rocket-div {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 200px;
    width: 66;
    top: 88%;
    opacity: 1;
}

#rocket_bottom {
    opacity: 1;
}

#thurst {
    transform: scale(.75);
}

button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

button {
    background: none;
    color: #ccc;
    width: 240px;
    height: 80px;
    border: 1px solid #338033;
    font-size: 18px;
    border-radius: 4px;
    transition: .6s;
    overflow: hidden;
}

button:focus {
    outline: none;
}

button:hover {
    background: #338033;
    cursor: pointer;
}